<div class="form-container">
  <h2>Recuperar contraseña</h2>
  <label>Ingrese email:</label>
  <form [formGroup]="formulario" (ngSubmit)="submit()">
    <input type="text" formControlName="email" placeholder="Email">
    <button type="submit">Recuperar</button>
  </form>
</div>


<div class="modal" *ngIf="isModalOpen">
  <div class="modal-content">
      <h2>Revise su email,le hemos enviado un correo electrónico para cambiar su contraseña!</h2>
      <button id="back-btnUwu" (click)="closeModal()" >Volver</button>
  </div>
</div>
