.all-about{
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

.h1-about{
    margin-top: 7rem;
    text-align: center;
    font-size: 3rem;
    color: whitesmoke;
    text-shadow: 6px 6px 12px rgba(0, 0, 0, 0.9);
}   

.p-about{
    margin-top: 2rem;
    margin-left: 15rem;
    margin-right: 15rem;
    text-align: center;
    font-size: 17px;
    color: whitesmoke;
    font-family: "Chakra Petch", serif;
    font-weight: 400;
    font-style: normal;
}