<body>
    <section class="section-wrap">
        <div class="all-about">
            <div>
                <h1 class="h1-about">Acerca de</h1>
            </div>
            <br>
            <div>
                <p class="p-about">
                    Buenas, nosotros somos BWIM Entertaiment, un grupo de estudiantes/developers que les traemos
                    esta página sobre nuestro mundo basado en los juegos de "goto(future,past);" y "Realloc".
                    En este apartado le hablaremos sobre los desarrolladores para que puedan conocernos mejor :]
                </p>
            </div>
            <div class="container">
                <app-list-about></app-list-about>
            </div>
        </div>
    </section>
</body>