<div class="scroll-container">
  <!-- Sección de Imagen -->
  <div class="image-section" [class.fade-out]="scrolledPastImage">
    <img src="/assets/BwimVFondoB.png" alt="Imagen inicial" />
  </div>

  <!-- Sección de Texto -->
  <div class="text-section" [class.show-text]="scrolledPastImage">
    <h1>¿Quiénes Somos?</h1>
    <h2 id="h2Incial">Un grupo de desarrolladores junior, game devs y creadores del Universo Yapeyú.</h2>
    <h2>Conocé más de nosotros, del Universo detrás de nuestras historias y sus personajes.</h2>
    <h2>Podras jugar algunos minijuegos relacionados, asi como descargar los proyectos</h2>
    <h2>No pierdas la oportunidad de visitar nuestras redes y las de nuestros colaboradores</h2>
  </div>
</div>