<section class="general-section">

  <section class="login-envolture-section">
    <h1 class="align-text-top p-5 font-Orbi text-white">Bienvenido</h1>

    <form [formGroup]="formulario" (ngSubmit)="submit()"
      class="max-w-lg border-2 p-16 shadow-md rounded-sm border-gray-300" id="form">

      <div class="mb-5">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Email</label>
        <input formControlName="email" type="email" id="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 shadow-md"
          placeholder="Ingresar email">
      </div>
      @if (formulario.controls['email'].getError('required') && formulario.controls['email'].touched) {
        <div class="validator">Requiere completar!</div>
      }@else if(formulario.controls['email'].getError('emailTaken')  && formulario.controls['email'].touched) {
        <div class="validator">Email no registrado...</div>
      }


      <div class="mb-5">
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Contraseña</label>
        <input formControlName="password" name="password" type="password" id="password"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 shadow-md"
          placeholder="Ingresar contraseña" required />
      </div>
      @if (formulario.controls['password'].getError('required') && formulario.controls['password'].touched) {
        <div class="validator">Requiere completar!</div>
      }


      <div class="flex items-start mb-5">
        <h2><a class="text-indigo-600" [routerLink]="['/recuperar-password']">Recuperar contraseña</a></h2>
      </div>

      <button type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Ingresar</button>
    </form>


    <div>
      <h2 class="mt-3 text-white">¿Todavía no tenés cuenta?<a class="text-indigo-600" [routerLink]="['/register']">
          Registrate</a></h2>
    </div>
  </section>

</section>
