<section class="background-ss">

    <section></section>

    
    <section class="container-section-ss"> 
        
        <section class="progress-container">

            <h3 class="universe-title">Universo Yapeyú</h3>
            <p class="ss-title">Instantes</p>

            <div class="progress-bar" [style.width.%]="scrollProgress"></div>
        
        </section>
        
        <div class="story-content">
            
            <p>Manuel se levantó aturdido, el mundo se veía completamente borroso y todo el ruido a su 
            alrededor había sido reemplazado por un pitido agudo y constante. Un  hilo carmesí de 
            sangre bajaba por un corte profundo en su frente, goteando desde su nariz</p>
            <p>—M…a…n… mo…te. </p>
            <p>Una figura indistinguible lo tomó del brazo y tiró de él para ayudarlo a alejarse del desastre. 
            A medida que se movían, Manuel empezaba a recuperar la visión y pudo reconocer a la 
            persona que iba frente a el, guiando la huida.</p>
            <p>Ender se abría paso a una velocidad imposible de igualar para el agente herido, pero se 
            detenía regularmente para ayudarlo y asegurarse que este bien.</p>
            <p>—¡Ender!, ¡¡Ender!! —Manuel gritaba, sordo a medias por la explosión anterior, 
            parpadeando rápidamente para tratar de quitarse el polvo y pequeños fragmentos que 
            sentía entre su parpado y su ojo. </p>
            <p>Podía ver como su compañero movía los labios hablándole, pero por la distancia, no podía 
            escuchar una sola de las palabras que pronunciaba.</p>
            <p>¡Ender!— prosiguió Manuel— ¡no te escucho!— caminaba entre escombros, 
                trastabillando cada pocos pasos, todavía desorientado— ¡¿Dónde está David?! </p>
            <p>La expresión del agente se turbo súbitamente y Manuel comprendió en ese momento lo 
                que eso significaba. </p>
            <p>—Ahora no podemos hacer nada— finalmente había conseguido alcanzarlo. Ender le 
                gritaba a escasos centímetros, pero para el hombre, era un volumen apenas superior a un  
                susurro—. Ahora hay que volver a la central, reportar el incidente y esperar los resultados. </p>
            <p>Un portal se abrió unos metros por delante de los hombres, que se habían detenido un 
                momento mientras desde la central configuraban el punto de salida. Cuando lo vieron, 
                ambos se incorporaron listos para volver a las oficinas de la YTP.</p>
            <p>Luego de dar un paso, el mundo de Manuel se tiño de negro y cayo inconsciente. </p>
            <p>—¡David! — se despertó Manuel, empapado en un sudor húmedo y muy agitado. 
                Había tenido una pesadilla, algo tan vivo y real que perturbo su sueño, pero que sin 
                embargo, tan solo unos segundos después de experimentarlo, ya no podía recordarlo. </p>
            <p>Miro a su alrededor, intentando descifrar donde se encontraba. Al girarse sobre si, sintió en 
                su brazo un pinchazo molesto. Bajo la mirada y reconoció un catéter que conectaba su 
                cuerpo a un suero colgado unos metros sobre su cabeza.</p>
            <p>Estaba en la enfermería de la YTP. Conocía el lugar debido a accidentes suyos o de sus 
                compañeros en misiones anteriores. Pero ahora, todo oscuro y solitario, el lugar era muy 
                diferente a las ocasiones anteriores en las que había estado.</p>
            <p>Tomó el pequeño control remoto y lo presiono un par de veces, llamando a la enfermera. Un haz de luz irrumpió en una de las paredes de la habitación cuando la puerta se abrió 
                levemente. A paso rápido, llego hasta la cama donde se recostaba.</p>
            <p>—Si, agente Lublo, ¿en qué lo ayudo? </p>
            <p>—Sacame todo esto— decía Manuel apuntando a las vías conectadas a su antebrazo— 
                Tengo que ir a la agencia, tengo que saber qué pasó con David… si no lo conseguí tengo 
                que volver. </p>
            <p>Ahora, mas agitado, se sacudía en la cama y luchaba por levantarse, adolorido y algo 
                mareado, intento sin éxito arrancarse el catéter.</p>
            <p>—Agente Lublo, por favor, quédese quieto.</p>
            <p>La enfermera luchaba en vano contra un Manuel fuera de sí, que se había levantado y 
                caminaba ahora por el pasillo, arrastrando tras de sí el suero.</p>
            <p>—Agente Lublo, por favor— lo perseguía ahora un pequeño grupo de enfermeras y 
                seguridad había sido puesto en alerta.</p>
            <p>Caminaba directo al ascensor cuando consiguió ser detenido por un par de miembros de 
                seguridad y de enfermeros, quienes lo sedaron y lo devolvieron a la camilla.</p>
            <p>Horas más tarde, finalmente Manuel despertó, alterado. Otra vez el mismo sueño, parecía 
                más un recuerdo o una visión. David frente a él, más claro y real que nunca. 
                Pero otra vez había fallado, ahora estaba internado. Se prometió que no volvería a fallar, 
                que no volvería a…</p>
            <p>—¡Manuel! </p>
            <p>La voz de Ender lo devolvió a la realidad. 
                —¿Hace cuanto que estas acá? </p>
            <p>—Desde antes que despertaras. Estuve a punto de llamar a la enfermera. Te sacudías y 
                hablabas en sueños. Incluso creo que lo mencionaste a David. </p>
            <p>—Honestamente no recuerdo que soñaba— mintió Manuel—. Y ahora que lo mencionas 
                ¿Dónde está David?</p>
            <p>—Pensé que alguien te había puesto al tanto ya— respondió Ender con un pesar en la 
                voz—. Lo lamento mucho Manuel. La explosión que se produjo en el teatro lo hizo 
                colapsar. David quedó atrapado entre los escombros y no consiguió sobrevivir.</p>
            <p>Manuel no dijo nada, pero apretó los puños, los ojos húmedos con unas lagrimas con las 
                que luchaba para contener.</p>
            <p>—Ahora también le tiro un edificio encima. Flor de compañero que soy, ¿no?</p>
            <p>Rió de forma irónica y volteo para ver a Ender, quien lo miraba extrañado y algo 
                preocupado. 
                —Si, tranquilo. No pretendo que entiendas de que hablo</p>
            <p>Mientras decía esto, Manuel se reincorporo de la cama y fue hasta el sillón donde 
                descansaba su ropa. Rápidamente se vistió y se acerco a su compañero, quien tomado por 
                sorpresa no supo que hacer ante esta situación. 
                —Decime una cosa Ender ¿tenes tus UTN a mano?</p>
            <p>—Eh… si, tengo las 10 reglamentarias— respondió mientras hacia a un lado su saco, 
                revelando los estuches que contenían 5 UTN con su respectivo color cada una. </p>
            <p>—¡École cuá! — dijo Manuel, quien con un movimiento rápido le arrebato una carta azul y 
                una roja de los estuches. </p>
            <p>—¡¿Manuel?! ¿Qué haces?</p>
            <p>—Perdón querido, pero no puedo quedarme mucho más. Ya supe que fracase así que 
                tengo que volver a para poder intentarlo una vez más.</p>
            <p>—¿Intentar qué? ¿Volver a dónde? — dijo Ender, quien empezaba a desenfundar su arma—. Manuel Lublo. Queda bajo arresto por el incumplimiento de las leyes 127, 209, 209bis y 
                145 de la Constitución Atemporal Yapeyúense— continuó Ender, quien ahora apuntaba a 
                su compañero mientras le leía sus derechos.</p>
            <p>—Lamento hacerte perder el tiempo Ender, pero ya me retrasé lo suficiente y cada minuto 
                acá es otro que podría aprovechar para poder rescatarlo— Manuel ya había abierto un 
                portal violeta a la locación a la que quería volver, pero antes de cruzar, se volvió un 
                momento—. Es irónico, ¿no? Aun teniendo todo el tiempo del mundo, siempre vamos a 
                necesitar unos minutos más.</p>
            <p>Y con eso, salto dentro del portal y desapareció cerrándolo tras de sí.</p>
            <p>Manuel caminaba de un lado a otro en su casa, una pizarra contenía imágenes, 
                documentos y archivos pegados, pero toda esa información se había expandido y ahora 
                también se desplegaba sobre una de las paredes del comedor. </p>
            <p>Podían verse expedientes relacionados a diferentes casos, listas con nombres tachados y 
                la información de David, Ender, Mr. Orange y otros agentes de la YTP.</p>
            <p>El agente sostenía una grabadora y había comenzado a dejar constancia de lo recién 
                ocurrido. </p>
            <p>—Intento 127. Luego de evitar ingresar al teatro por la entrada trasera, decidí abrir un 
                portal rojo desde la central hacia uno de los callejones aledaños. Lideraba la marcha, 
                David caminaba casi a la par, a mi derecha. Un poco mas atrás, Ender lideraba un grupo de 
                agentes a quienes les cerraba la marcha Mr. Orange. </p>
            <p>—Al atravesar el lugar, nos encontramos con varios miembros de la guardia real francesa. 
                Abatimos a quienes se cruzaban y finalmente y por medio de una ventana en planta baja, 
                ingresamos al lugar. </p>
            <p>Manuel hizo una pausa y se apoyó sobre la mesa. Respiro unos instantes y finalmente 
                soltó un grito desgarrador, lleno de frustración e ira. Luego de tranquilizarse, todavía con 
                las manos temblorosas, prosiguió.</p>
            <p>—Llegamos hasta una de las puertas que conectaba con el resto del edificio. Quise abrirla, 
                pero David se ofreció y antes de poder detenerlo, se me había adelantado. Todo sucedió en 
                un instante. Un barril de pólvora estaba conectado a un rudimentario sistema de 
                seguridad, que lo haría estallar en el momento que alguien abriese la puerta. 
                </p>
            <p>El agente se froto los ojos con dos dedos de una forma algo violenta, en un intento inútil de 
                alejar el cansancio. En los meses que había estado tras esto, su aspecto había 
                desmejorado considerablemente. Unas grandes ojeras adornaban sus ojos, su cabello, 
                antes negro azabache, estaba siendo absorbido por unas canas de un blanco intenso.</p>
            <p>—Siquiera conseguí entender lo que pasaba, salí despedido y perdí el conocimiento. 
                Cuando volví a despertar, estaba en la guardia de la YTP. Allí, Ender me dio la noticia de lo 
                sucedido, en el instante que confirme lo que temía, robe dos UTN de su estuche y abrí un 
                portal de vuelta. El pobre Ender pareció entender lo que sucedía, o al menos sospechar 
                que algo andaba mal, pero fue muy tarde y conseguí escaparme.</p>
            <p>Entonces, sacó del bolsillo de su traje una pequeña cámara que conecto a su 
                computadora. Tomó capturas del barril en el único momento que era visible, las imprimió y 
                las pegó en la pared, conectándola a otras evidencias.</p>
            <p>El agente observo la pizarra, el muro y analizo un poco, pensativo. Finalmente dijo las 
                últimas palabras a la grabadora. </p>
            <p>—Intento 127, resultado: fallido. Se que estoy cada vez mas cerca de enmendar mi error y 
                conseguir que ambos volvamos, David. Solo necesito un intento más, solo necesito 
                encontrar el instante exacto en el que todo salga de acuerdo a como lo planeé. </p>
            <p>Dejo la grabadora sobre la mesa, descargo la grabación y la agrego a la carpeta que 
                guardaba todas las anteriores. </p>
            <p>Tomó su saco, su DTM y cuando la alerta sonaba en su reloj, él estaba ya en rumbo a la YTP, 
                preparado para el próximo intento. Este tenía que ser el bueno.</p>
            <p>Solo necesitaba un instante.</p>
      
        </div>
        
        <div>
            
        </div>
    </section>

</section>