.transition-overlay {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
  }
  .transition-overlay img {
   width: 100vw;
   height: 100vh;
   object-fit: cover;
  }
  