
.ww{

    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    bottom: 1vh; 
    left: 1vh;  
    flex-direction: column-reverse;
    z-index: 4;
}

.weatherwidget-io{

    width: 318px;
    border-radius: 5px;   
}