
.ww {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    bottom: 1vh; /* Ajusta este valor para la distancia desde la parte inferior */
    left: 1vh;  /* Ajusta este valor para la distancia desde el borde derecho */
    flex-direction: column-reverse;
    z-index: 4;
}

.weatherwidget-io{

    width: 318px;

    border-radius: 5px;
    
}