<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="div-background">

    @if(authService.isAdmin){

    <div class="div-button">
        <button class="button-addP" id="btn1" routerLink="addProject">
            <i class="fa-solid fa-plus" style="color: rgb(61,117,19);" id="lapiz"></i>
            Agregar Proyecto
        </button>
    </div>
    }

    <section class="title-section">

        <h1 class="our-p">Nuestros Proyectos</h1>
        <p class="detail-p">Pueden conocer más acerca de nuestros proyectos y los próximos por llegar</p>
    </section>

    <ul class="game-list">

        @for(project of arrProject; track $index){

        <li class="games-items" style="background-image: url({{project.images}})">
            @if(authService.isAdmin){

            <div class="div-delete-updateB">
                <button class="button-deleteP" id="btn1" (click)="delete(project.id!)">
                    <i class="fa-solid fa-trash" style="color: red;" id="lapiz"></i>
                    Eliminar
                </button>

                <button class="button-updateP" id="btn1" (click)="navigateToUpdate(project.id!)">
                    <i class="fa-regular fa-pen-to-square fa-xl" style="color: rgb(90, 58, 233);" id="lapiz"></i>
                    Actualizar
                </button>
            </div>
            }

            <h2 class="project-name">{{project.name}}</h2>

            <div class="project-content">
                <div class="link" [innerHTML]="safeURL(project.urlProject)"></div>
                <p class="project-description">{{project.description}}</p>
            </div>

            <!--COMENTARIOS DE LOS PROYECTOS!-->

            <div class="project-comment-box" >
                <button (click)="isModalOpen()">Comentar </button>
            </div>
                <div class="modal" *ngIf="modal">
                    <div class= "modal-content">

                        <button class="btn-close" (click)="isModalClose()">❌</button>
                        <h3 class="comment-box-tittle">Comentarios</h3>
                        <form [formGroup]="form" class="comment-form">
                            <textarea formControlName="comment" placeholder="Dejanos tu comentario..." class = "text-comment-box"></textarea>
                            <button id="back-btnUwu" (click)="addComment(project.id!)">Enviar ▶</button>
                        </form>
                        <ul class="comment-list">
                            @for(comment of arrayComment; track $index)
                          {
                           <li class="comment-container-li">
                            <div class="comment-box">

                                <div class="comment-img">
                                    <img class="usuario-activo-img" [src]=getImgUserxComment(comment.idUser) alt="">
                                </div>
                                <div class="comment-user">
                                    <p class="user-info">{{getUserxComment(comment.idUser)}} comentó:</p>
                                </div>
                                <div class="comment-text">
                                    <p class= "Comment">{{comment.text}}</p>
                                </div>
                                @if (comment.idUser === currentUser?.id) {
                                <button class="modificar-btn"(click)="modificarOpen(comment.id!,comment.text)">Modificar</button>

                                <!--MODAL PARA MODIFICAR COMENTARIOS-->
                                <div class="modal" *ngIf="editando">
                                  <div class="modal-comentarios">
                                    <form [formGroup]="txareaForm" (ngSubmit)="modificarComentario()">
                                    <h3 class = "comment-box-tittle">Editar comentario</h3>
                                    <textarea class="comment-update" formControlName="txarea"></textarea>
                                    <button type="submit" class="confirmar">Confirmar</button>
                                    <button class="Cancelar" (click)="modificarClose()">Cancelar</button>
                                    </form>
                                  </div>
                                </div>
                                <!-------------------------------------------------------------------------->
                              }
                                @if(comment.idUser === currentUser?.id || currentUser?.admin){
                                  <button class ="borrar-btn" (click)="borrarComentario(comment.id!)">Borrar</button>
                                }

                            </div>
                           </li>
                          }
                        </ul>


                    </div>
                </div>
        </li>
        }

    </ul>

</div>



