<section class="add-envolture-section">
    <form [formGroup]="formulario" class="add-project-form">

        <label for="name" class=" block mb-6 text-sm font-medium text-gray-900 dark:text-white ">Nombre
            Proyecto</label>
        <input type="text" id="name-project"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Ingrese Nombre" required formControlName="name" />
        @if(formulario.controls['name'].getError('required')&&
        formulario.controls['name'].touched){<div class="error">Campo Requerido</div>}

        <label for="description"
            class="mt-4 block mb-6 text-sm font-medium text-gray-900 dark:text-white">Descripcion</label>
        <textarea id="description" rows="4"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Ingrese Descripcion" formControlName="description"></textarea>
        @if(formulario.controls['description'].getError('required')&& formulario.controls['description'].touched){<div
            class="error">
            Campo Requerido</div>}

        <label for="urlProject" class="mt-4 block mb-6 text-sm font-medium text-gray-900 dark:text-white">Widget
            (pegar el
            proporcionado por itch.io, recuerde puede configurarse a gusto desde la página)</label>
        <textarea id="widget" rows="4"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Ingrese HTML"
            formControlName="urlProject"></textarea>@if(formulario.controls['urlProject'].getError('required')&&
        formulario.controls['urlProject'].touched){<div class="error">Campo Requerido</div>}

        <label class="mt-4 block mb-6 text-sm font-medium text-gray-900 dark:text-white" for="file_input" id="aa">Imagen
            de
            fondo</label>


        <div class="w-full flex justify-center">
            <input
                class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 text-black font-medium focus:outline-none dark:bg-blue-500 dark:border-gray-600 dark:placeholder-gray-400 p-2"
                aria-describedby="file_input_help" input type="file" name="images" formControlName='images'
                accept="image/*" formControlName="images"
                (change)="onImageChange($event)">@if(formulario.controls['images'].getError('required')&&
            formulario.controls['images'].touched){<div class="error">Campo Requerido</div>}
        </div>
        <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">SVG, PNG, JPG or GIF (IDEAL:
            2200x825px).
        </p>
        <div class="buttons">
            <button (click)="addProject()"
                class=" mt-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Añadir</button>
            <button (click)="this.router.navigateByUrl('projects')"
                class=" mt-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Volver</button>
        </div>

    </form>

</section>