.all-about{
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.h1-about{
    margin-top: 7rem;
    text-align: center;
    font-size: 3rem;
    color: whitesmoke;
}   

.p-about{
    margin-top: 2rem;
    margin-left: 15rem;
    margin-right: 15rem;
    text-align: center;
    font-size: 17px;
    color: whitesmoke;
    font-family: "Chakra Petch", serif;
    font-weight: 400;
    font-style: normal;
}

.grid-about{
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    gap: 100px;
    justify-content: center;
}

.item{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.box{
    display: flex; 
    border: 5px solid whitesmoke;
    border-radius: 8px; 
    background-color: whitesmoke;
}

.tamanio {
    width: 150px;
    height: 200px;
    display: block;
}

.p-name{
    text-align: center;
    color: rgb(18, 12, 43);
    font-family: "Chakra Petch", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 17px;
}

.description{
    display: none;
    text-align: left;
    color: rgb(18, 12, 43);
    font-weight: 200;
}

.item:hover .description{
    display: block;
}