<body>
    <div class="all-about">
        <div>
            <h1 class="h1-about">Acerca de</h1>
        </div>
        <br>
        <div>
            <p class="p-about">
                Buenas, nosotros somos BWIM Entertaiment, un grupo de estudiantes/developers que les traemos
                esta página sobre nuestro mundo basado en los juegos de "goto(future,past);" y "Realloc".
                En este apartado le hablaremos sobre los desarrolladores para que puedan conocernos mejor :]
            </p>
        </div>
        <div class="grid-about">
            <div class="item">
                <div class="box">
                    <div>
                        <img src="assets/images/cosmar.jpg" alt="Marcos" class="tamanio">
                        <p class="p-name">MARCOS</p>
                    </div>
                    <div class="description">
                        Nombre: Marcos Bianchi <br>
                        Apodo: "The Boss" <br>
                        Participaciones:
                        <ul>
                            <li>goto(future,past);</li>
                            <li>Realloc</li>
                            <li>BWIM</li> 
                        </ul>
                    </div> 
                </div>
            </div>
            <div class="item">
                <div class="box">
                    <div>
                        <img src="assets/images/ivi.jpg" alt="Ivan" class="tamanio">
                        <p class="p-name">IVAN</p>
                    </div>
                    <div class="description">
                        Nombre: Ivan Ialonardi <br>
                        Apodo: "The Developer" <br>
                        Participaciones:
                        <ul>
                            <li>goto(future,past);</li>
                            <li>Realloc</li>
                            <li>BWIM</li> 
                        </ul>
                    </div> 
                </div>
            </div>
            <div class="item">
                <div class="box">
                    <div>
                        <img src="assets/images/grande.png" alt="Gonzalo" class="tamanio">
                        <p class="p-name">GONZALO</p>
                    </div>
                    <div class="description">
                        Nombre: Gonzalo Marsala <br>
                        Apodo: "The Goat" <br>
                        Participaciones:
                        <ul>
                            <li>goto(future,past);</li>
                            <li>Realloc</li>
                            <li>BWIM</li> 
                        </ul>
                    </div> 
                </div>
            </div>
            <div class="item">
                <div class="box">
                    <div>
                        <img src="assets/images/kuka.jpg" alt="Pablo" class="tamanio">
                        <p class="p-name">PABLO</p>
                    </div>
                    <div class="description">
                        Nombre: Pablo Walter<br>
                        Apodo: "The L. Enyoyer" <br>
                        Participaciones:
                        <ul>
                            <li>Realloc</li>
                            <li>BWIM</li> 
                        </ul>
                    </div> 
                </div>
            </div>
            <div class="item">
                <div class="box">
                    <div>
                        <img src="assets/images/nico.jpg" alt="Nicolas" class="tamanio">
                        <p class="p-name">NICOLAS</p>
                    </div>
                    <div class="description">
                        Nombre: Nicolas Ruiz<br>
                        Apodo: "The Wizard" <br>
                        Participaciones:
                        <ul>
                            <li>BWIM</li> 
                        </ul>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</body>