<!-- <section class="container">
  <h1>Contacto:</h1>

  <div class="contact-card">
      <h2>Encargado de Diseño de Personajes:</h2>
      <h3>Leonel Messi</h3>
      <p>Sus redes:</p>
      <div class="social-links">
          <a href="#" target="_blank"><img src="assets/icono-redes/instagram.png" alt="Instagram"></a>
          <a href="#" target="_blank"><img src="assets/icono-redes/linkedin.png" alt="Instagram"></a>

      </div>
  </div>

  <div class="contact-card">
      <h2>Encargado de Diseño de Nose que:</h2>
      <h3>ANANA SHEEE</h3>
      <p>Sus redes:</p>
      <div class="social-links">
          <a href="#" target="_blank"><img src="assets/icono-redes/instagram.png" alt="Instagram"></a>
          <a href="#" target="_blank"><img src="assets/icono-redes/linkedin.png" alt="Instagram"></a>
      </div>
  </div>
</section> -->

<section class="container">
  <h1>Contacto</h1>

  <div class="contact-card">
      <h2>Encargado de Diseño de Personajes y Fondos</h2>
      <h3>SadHara Art</h3>
      <p>Sus redes:</p>
      <div class="social-links">
        <a href="https://www.instagram.com/sadhara_art/" target="_blank"><img src="assets/icono-redes/instagram.png" alt="Instagram"></a>
      </div>
  </div>

  <div class="contact-card">
      <h2>Encargado de Diseño de Logo BWIM</h2>
      <h3>Te Muestro Mis Ideas</h3>
      <p>Sus redes:</p>
      <div class="social-links">
        <a href="https://www.instagram.com/temuestromisideass/" target="_blank"><img src="assets/icono-redes/instagram.png" alt="Instagram"></a>
      </div>
  </div>
</section>
