.navbar {
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color:rgb(18, 12, 43);
  font-family: "Orbitron", serif;
  font-weight: 400;
  font-style: normal;
  padding: 10px 20px;
  font-size: 18px;
  bottom: 0;
  height: 100px;
}

.nav-elements
{
  display: flex;
  list-style: none;
  margin: 0;  
  padding: 0;
}

.menu-container
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.NavLogo
{
  display: flex;
  align-items: center;
  margin-right: 1rem;
  border-left: 0cm;
  position: relative;
  
  
}

.nav-elements {
  display: flex;
  justify-content: center;
}

.nav-elements li {
  margin: 2rem; 
  color: burlywood;
  list-style: none; 
  
}

.nav-elements li a {
  text-decoration: none;
  color: inherit; 
}


body{

height: 1000px;
background-color: rgb(25, 18, 51);
}

