<nav class="navbar">
    <div class="nav-logo">

        <a href="http://localhost:4200/" class="logo-container">
            <img src="assets/logoBlanco.png" alt="white-logo" class="logo white-logo" draggable="false">
            <img src="assets/logoVioleta.png" alt="purple-logo" class="logo purple-logo" draggable="false">
        </a>
    </div>
   
    <div class="menu-container">
        <ul class="nav-elements">

            <li>
                <a routerLink="/projects">Proyectos</a>
            </li>
            <li>
                <a routerLink="/universe">Universo</a>
            </li>
            <li >
                <a routerLink="/about">Acerca de</a>
            </li>
            <li>
                <a routerLink="/minigames">Minijuegos</a>
            </li>

        </ul>
        
    </div>
    <div class="register-loginWrapper">
        
        <ul class="register-loginUl">
            <li>
                <a routerLink="/login">Iniciar Sesion</a>
            </li>
            <li>
                <a routerLink="/register">Registrarse</a>
            </li>
        </ul>
    </div>
    
    <div class="container-img">
        <img [src]="user?.imgPerfil" alt="perfil image" class="perfil-img">
      </div>
</nav>

<body>

</body>