<nav class="navbar">
    <div class="NavLogo">

        <a href="http://localhost:4200/"><img src="assets/logoBlanco.png" alt="white-logo"></a>
        <a href="http://localhost:4200/"><img src="assets/logoVioleta.png" alt="purple-logo"></a>
          
    </div>
    <div class="menu-container">
        <ul class="nav-elements">
           
            <li >
                <a href="#">Proyectos</a>
            </li>
            <li >
                <a href="#">Universo</a>
            </li>
            <li >
                <a href="#">Acerca De</a>
            </li>
            <li >
                <a href="#">Minijuegos</a>
            </li>
        </ul>
    </div>

    <div>
        <a href="">asasasasas</a>
    </div>
    <div>
        <a href="">asasasasas</a>
    </div>
</nav>

<body>
    
</body>