
.navbar {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1000; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(18, 12, 43);
  font-family: "Chakra Petch", serif;
  font-weight: 400;
  font-style: normal;
  padding: 10px 20px;
  font-size: 20px;
  height: 100px;
}

.nav-elements
{
  display: flex;
  list-style: none;
  margin: 0;  
  padding: 0;
}

.menu-container
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}



.NavLogo {
  position: relative; 
  display: flex; 
  align-items: center; 
  height: 100%; 
}

.white-logo,
.purple-logo {
  position: absolute; 
  transform: translateY(-50%); 
  transition: opacity 0.5s ease ease-in; 
}

.white-logo {
  opacity: 1; 
 
}

.purple-logo {
  opacity: 0; 
}

.logo-container:hover .white-logo {
opacity: 0; 
transform: scale(0.8);
}

.logo-container:hover .purple-logo {
opacity: 1;
transform: scale(1.5); 
transform: translateY(-50%); 
transition: opacity 0.3s ease, transform 0.3s ease; 
}

.logo-container:hover .white-logo {
  opacity: 0; 
  transform: scale(0.8);
  }


.nav-elements {
  display: flex;
  justify-content: center;
}

.nav-elements li {
  margin: 2rem; 
  color: burlywood;
  list-style: none; 
  
}

.nav-elements li a {
  text-decoration: none;
  color: inherit; 
  position: relative;
  padding: 0.2em;
}

.nav-elements li a::after {
  content: "";
  position: absolute;
  top: 2rem; 
  left: 0;
  bottom: 0;
  width: 0;                
  height: 4px;             
  background-color: rgb(43, 30, 104);  
  transition: none;   
  border-radius: 10%;     
}


.nav-elements li a:hover::after {
  width: 100%;             
}


.nav-elements li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0; /* Asegura que el rectángulo se extienda hasta el borde derecho */
  bottom: 0; /* Asegura que el rectángulo se extienda hasta el borde inferior */
  background-color: rgba(0, 0, 255, 0.2); /* Color del resaltado (ajustar según sea necesario) */
  z-index: -1; /* Coloca el rectángulo detrás del texto */
  opacity: 0; /* Inicialmente invisible */
  transition: opacity 0.2s; /* Transición suave para la opacidad */
}

/* Mostrar el rectángulo al hacer hover */
.nav-elements li a:hover::before {
  opacity: 1; /* Hace que el rectángulo sea visible en hover */
}

