
.navbar {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(18, 12, 43);
  font-family: "Chakra Petch", serif;
  font-weight: 400;
  font-style: normal;
  padding: 10px 20px;
  font-size: 20px;
  height: 95px;
  border-bottom: 2.5px solid rgba(85, 85, 88, 0.2);

}

.nav-elements
{
  display: flex;
  list-style: none;
  justify-items: center; 
  margin: 0;  
  padding: 0 20px;
}

.nav-elements li {

  display: flex;
  /* justify-content: ; */
  padding: 0 20px;
  margin: 2rem; 
  color: burlywood;
  list-style: none;   
  
}

.nav-elements li a {
  text-decoration: none;
  color: inherit; 
  position: relative;
  padding: 0.2em;
}

 .menu-container
{
   
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}  



.nav-logo {
  width: 14%;
  position: fixed; 
  display: flex; 
  align-items: center; 
  height: 100%; 
  margin-right: 1rem;
}

.white-logo,
.purple-logo {
  position: absolute; 
  transform: translateY(-50%); 
  transition: opacity 0.5s ease ease-in; 
  cursor: pointer;
}

.white-logo {
  opacity: 1; 
 
}

.purple-logo {
  opacity: 0; 
}

.logo-container:hover .white-logo {
opacity: 0; 
transform: scale(0.8);
}

.logo-container:hover .purple-logo {
opacity: 1; 
}

.nav-elements li a::after {
  content: "";
  position: absolute;
  top: 35px; 
  left: 0;
  bottom: 0;
  width: 0;                
  height: 4px;             
  background-color: rgb(43, 30, 104);  
  transition: none;   
  border-radius: 10%;     
}



.nav-elements li a:hover::after {
  width: 100%;             
}


.nav-elements li a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  right: 0; /* Asegura que el rectángulo se extienda hasta el borde derecho */
  bottom: 3px; /* Asegura que el rectángulo se extienda hasta el borde inferior */
  background-color: rgba(85, 85, 88, 0.2); /* Color del resaltado (ajustar según sea necesario) */
  z-index: -1; /* Coloca el rectángulo detrás del texto */
  opacity: 0; /* Inicialmente invisible */
  transition: none; 
  border-radius: 5%;
}

/* Mostrar el rectángulo al hacer hover */
.nav-elements li a:hover::before {
  opacity: 1; /* Hace que el rectángulo sea visible en hover */
}

@media (max-width: 768px) {

  .nav-elements li {
    padding: 0 10px; 
  }
}


@media (max-width: 1000px) {
  .nav-elements li:nth-child(4){
    display: none; 
  }
}

@media (max-width: 850px) {
  .nav-elements li:nth-child(3){
    display: none;
  }
}

@media (max-width: 700px) {
  .nav-elements li:nth-child(2){
    display: none; 
  }
}

@media (max-width: 450px) {
  .nav-elements li:nth-child(1){
    display: none; 
  }
}
