/* .scroll-container {
  width: 100%;
  height: 175vh; 
  overflow: hidden;
  position: relative;
  background-image: url("/assets/BwimVFondoB.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

} */


.image-section {
  position: relative;
  /* height: 80vh; */
  transition: opacity 0.5s ease-in-out;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
  position: relative;
  background-image: url("/assets/BwimVFondoB.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  
}

.image-section.hidden {

  opacity: 0;
 
}

.image-section img{

  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
}

.text-section {
  background-color: rgb(18, 12, 39);
  color: white;
  top: 0;
  width: 100%;
  min-height: 90vh;
  max-height: 100vh; /* Cambia a max-height para no exceder */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: -1;
  transform: translateY(500px); /* Inicialmente desplazado hacia abajo */
  transition: opacity 1s ease-in, transform 1s ease-in;
  overflow: hidden; /* Para ocultar el desbordamiento */
  bottom: 6rem;
  
}


.text-section.visible {
  opacity: 1;
  transform: translateY(0); /* Aparece desde abajo */
  z-index: -1;
  overflow: visible;
}

.haches{

  position: sticky;

}

h1 {
  font-family: "Chakra Petch", serif;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 2rem; /* Ajusta el valor según el espacio que quieras */
  
}


h2 {
  text-align: justify;
  font-family: "Chakra Petch", serif;
  font-weight: 500;
  align-items: center;
  letter-spacing: 0.7px;

}

.h2Inicial{

  margin: 2rem auto 0; /* Este margen superior crea espacio con el h1 */
}