<div class="containerDiv">
<div class="tomorrow"
     data-location-id="001594"
     data-language="ES"
     data-unit-system="METRIC"
     data-skin="dark"
     data-widget-type="aqiMini"
     style="padding-bottom:22px;position:relative;">
  <a href="https://www.tomorrow.io/weather-api/"
     rel="nofollow noopener noreferrer"
     target="_blank"
     style="position: absolute; bottom: 0; transform: translateX(-50%); left: 50%;">
    <img alt="Powered by the Tomorrow.io Weather API"
         src="https://weather-website-client.tomorrow.io/img/powered-by.svg"
         width="1"
         height="1" />
  </a>
</div>
</div>

