<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<body>
    

   
<div class="pag-princip">

    
    <h1 class="our-p">Nuestros Proyectos</h1>
    <!-- @if (playerActivo.administrador){ -->

        <div class="div-button">
            <button class="button-addP" id="btn1">
                <i class="fa-regular fa-pen-to-square fa-xl" style="color: rgb(90, 58, 233);"></i> 
                Agregar Proyecto
            </button>
        </div>
    <!-- } -->


</div>

</body>