<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<body>
    
<!-- @if (playerActivo.administrador){ -->

    <div class="div-button">
        <button class="button-addP" id="btn1">
            <i class="fa-regular fa-pen-to-square fa-xl" style="color: rgb(90, 58, 233);" id="lapiz"></i> 
            Agregar Proyecto
        </button>
    </div>
  

<section class="pag-princip">

    <h1 class="our-p">Nuestros Proyectos</h1>
    <p class= "detail-p">Pueden conocer más acerca de nuestros proyectos y los próximos por llegar</p>
</section>
   
  <div>

    

  </div>


 

<!-- <iframe frameborder="0" src="https://itch.io/embed/2393332?border_width=5&amp;bg_color=2B1E68&amp;fg_color=d9ac16&amp;link_color=d44c16" width="560" height="175"><a href="https://ibm-entretainmient.itch.io/gotofuturepast">goto( future , past ) ; by IBM Entretainmient</a></iframe> -->


</body>