<section class="add-envolture-section">
    <form [formGroup]="form" class="add-project-form">


        <label for="id" class="block mb-6 text-sm font-medium text-gray-900 dark:text-white">
            Id character
        </label>
        <input type="text" id="name-character"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Ingrese id" required formControlName="id" />
        @if(form.controls['id'].getError('required') && form.controls['id'].touched) {
        <div class="error">Campo Requerido</div>
        }


        <label for="name" class="block mb-6 text-sm font-medium text-gray-900 dark:text-white">
            Nombre character
        </label>
        <input type="text" id="name-project"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Ingrese Nombre" required formControlName="name" />
        @if(form.controls['name'].getError('required') && form.controls['name'].touched) {
        <div class="error">Campo Requerido</div>
        }

        <label for="nickname" class="mt-4 block mb-6 text-sm font-medium text-gray-900 dark:text-white">
            Nickname
        </label>
        <textarea id="nickname" rows="4"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Ingrese Nickname" formControlName="nickname">
        </textarea>
        @if(form.controls['nickname'].getError('required') && form.controls['nickname'].touched) {
        <div class="error">Campo Requerido</div>
        }

        <label for="description" class="mt-4 block mb-6 text-sm font-medium text-gray-900 dark:text-white">
            Descripción
        </label>
        <textarea id="description" rows="4"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Ingrese Descripción" formControlName="description">
        </textarea>
        @if(form.controls['description'].getError('required') && form.controls['description'].touched) {
        <div class="error">Campo Requerido</div>
        }

        <label class="block mb-6 text-sm font-medium text-gray-900 dark:text-white">Fecha de Nacimiento:</label>
        <input type="text" formControlName="birthDate"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

        <label class="block mb-6 text-sm font-medium text-gray-900 dark:text-white">Fecha de Defunción:</label>
        <input type="text" formControlName="deathDate"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

        <label class="block mb-6 text-sm font-medium text-gray-900 dark:text-white">Project Name:</label>
        <input type="text" formControlName="projectName"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

        <label class="block mb-6 text-sm font-medium text-gray-900 dark:text-white">Lugar de Nacimiento:</label>
        <input type="text" formControlName="birthPlace"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

        <label class="mt-4 block mb-6 text-sm font-medium text-gray-900 dark:text-white" for="file_input"
            id="aa">Imagendefondo</label>
        <div class="w-full flex justify-center">
            <input
                class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 font-medium focus:outline-none dark:bg-blue-500 dark:border-gray-600 dark:placeholder-gray-400 p-2"
                aria-describedby="file_input_help" input type="file" name="images" formControlName='images'
                accept="image/*" formControlName="images"
                (change)="onImageChange($event)">@if(form.controls['images'].getError('required')&&form.controls['images'].touched){
            <div class="error">Campo Requerido</div>
            }
        </div>
        <p class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="file_input_help">SVG, PNG, JPG or GIF (IDEAL:
            2200x825px).
        </p>


        <button type="submit" class="mt-4 bg-blue-500 text-white p-2 rounded-lg"
            (click)="addCharacter()">Enviar</button>

    </form>
</section>