.add-envolture-section {
    display: flex;
    justify-content: center;
    align-items: center;

}

.add-project-form {
    margin-left: 25%;
    margin-right: 25%;
    background-color: whitesmoke;
    border-radius: 6px;
    padding-inline: 8rem;
    margin-top: 4rem;
    padding-block: 1rem;
    height: 1200px;
    width: 675px;
    align-content: center;
    margin-bottom: 10px;
}

.error {
    color: red
}