.minigames-wrapper {
    display: grid;
    align-items: center;
    justify-content: left;
    grid-template-columns: 1fr 1fr;
    height: 90vh;
    overflow: hidden;
}

.wrapper {
    display: grid;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}

.wrapper:hover {
    scale: 1.1;

    .game-name {
        opacity: 1;
    }
}

.minigames-wrapper:hover> :not(:hover) {
    filter: blur(5px);
    opacity: 0.9;
}

button {
    height: 100%;
}

a {
    margin-top: 20px;
    justify-self: center;
    align-self: center;
}

.oraculo-background {
    background-image: url("/assets/Fondos/FondoMiniGameMirtha.png");
}

.test-background {
    background-image: url("/assets/Fondos/FondoTest.png");
}

p {
    text-shadow: 6px 6px 12px rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 40px;

}

.game-name {
    height: 100%;
    align-self: center;
    opacity: 0;
    margin-top: 6%;
}

.game-name:hover {
    opacity: 1;
}