@import 'ngx-toastr/toastr';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {

    margin: 0;
}

body {
    background-color: rgb(25, 18, 51);
    font-family: "Chakra Petch", serif;
    font-weight: 400;
    font-style: normal;
    /* color: rgb(18, 12, 39); */
    background-image: url("/assets/BWIMBody.png");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center center;
    min-height: 100vh;


}

.body-blur {
    backdrop-filter: blur(9px);
}

#toast-container {
    top: 100px;
    right: 10px;
    position: fixed;

}