<section>
    <div class="div-titulo">
        <h1>Políticas de Privacidad</h1>
    </div>
    <div class="div-texto">
        <p><strong>El Universo Yapeyú</strong>, sus personajes, historias y escenarios, son propiedad intelectual de BWIM Entertainment. Todos los derechos reservados.</p>

        <p>Esta es una obra de ficción. Los personajes, eventos y lugares representados en esta producción son ficticios. Cualquier parecido con personas reales, vivas o fallecidas, o con eventos reales es pura coincidencia.</p>

        <p>Las escenas de riesgo fueron realizadas por profesionales capacitados. No intente replicar ninguna de las actividades mostradas en esta producción.</p>

        <p>Ningún animal fue lastimado durante la realización de este proyecto.</p>

        <p>Las opiniones expresadas por los personajes no representan necesariamente las opiniones del equipo de producción, el director ni de las personas o empresas involucradas.</p>

        <p>Todas las marcas, logotipos, imágenes y sonidos utilizados en esta producción son propiedad de sus respectivos dueños y se utilizan bajo licencia o con el debido permiso. Su uso sin autorización está prohibido.</p>
    </div>

</section>
