
<section class="background-ss">

    <section></section>

    
    <section class="container-section-ss"> 
        
        <section class="progress-container">

            <h3 class="universe-title">Universo Yapeyú</h3>
            <p class="ss-title">Ecos Temporales</p>

            <div class="progress-bar" [style.width.%]="scrollProgress"></div>
        
        </section>
        
        <div class="story-content">
            <!-- Tu contenido de la historia aquí -->
              <i>bi bi bi bip… bi bi bi bip...bi bi b… </i>
            
            <p>
            Damián estiro su brazo y tomo la DTM que descansaba en la mesa de luz junto a su cama. La luz roja titilaba, iluminando la todavía oscura habitación a altas horas de la madrugada.
            Cerro sus ojos un momento, excusándose de que, luego de descansarlos un instante, se levantaría con más energía.
            </p>   
            
               <i>BI BI BI BIP…B</i>
            <p>
            La alerta pareció sonar mas fuerte, impidiendo que el sueño lo venza por completo.
                Se sentó en la cama, asimilando por un momento en que día se encontraba. Rápidamente, dio un salto fuera del colchón y se alistó para ir a la agencia.
            </p>
            <p>Llegó al edificio de la YTP, subió por el ascensor hasta las oficinas y caminó por el pasillo, derecho a la Sala de Salto Temporal, donde Manuel y Paz ya habían reunido un grupo de agentes y explicaban la situación.</p>
            <p>—Marsachi, a todos nos gustaría seguir durmiendo, pero lamentablemente la línea del tiempo no respeta nuestros ciclos del sueño— dijo Manuel, interrumpiendo su discurso para señalar su tardanza frente a todos.</p>
            
            <p>En unos pocos días, Damián iba a cumplir su tercer mes como agente. Caso tras caso  
                mostraba un potencial mayor, ganándose elogios de parte de sus compañeros y  
                superiores. De todos menos de Manuel, quien una vez remarcó alguna falta tuya,  
                prosiguió con su discurso.</p>
                
            <p>Mientras intentabas ponerte al corriente de lo sucedido, Paz se acercó hasta donde  
                estabas.</p>
                
            <p>—Cuatro de febrero de mil ocho trece. ¿Te suena de algo la fecha?</p>
                
            <p>Damián pensó con toda la fuerza que su cerebro todavía adormecido le permitió.</p>
                
            <p>—Es algo patrio… ¿no es? No... Si, si si, ¿el Combate de San Lorenzo no era por esos días?</p>
                
            <p>La agente sonrío y afirmo con su cabeza, mientras te explicaba, abrieron el portal para  
                viajar al lugar en sí, cruzando los agentes y oficiales de a tandas.</p>
            <p>—¡Si, bien! Parece que algo de historia te acordás. Lamentablemente, es algo serio, por motivos que todavía desconocemos, San Martín no llego a ser salvado por Cabral y pereció en combate. A causa de eso, Argentina como tal no existe y todo el territorio nacional fue reducido a la llamada Porteñolandia, que es la antigua provincia de Buenos Aires. Todo lo demás sigue siendo territorio español, incluido Chile, Perú, siquiera Bolivia fue liberada por Bolívar.</p>
            <p>—Que desastre… ¿y quien gobierna ahora?— le preguntó mientras ambos cruzaban el portal, que se cerraba detrás de ustedes.</p>
            <p>—Larreta, hace un tiempo revelo su verdadera forma reptiliana y lleva bastantes años como presidente.</p>
            <p>Paz dijo aquello con una tranquilidad inquietante y fue a reunirse con Manuel, mientras Damián apreciaba el paisaje.</p>
            <p></p>
            <p>Afortunadamente, habían salido en un lugar oculto y ahora el joven agente caminaba por la Argentina de hacía dos siglos.
                A cierta distancia, se podía observar el remanente de una batalla. Unos campamentos, soldados heridos y batallones que limpiaban el área. A su derecha, se encontraba el pueblo.
                </p>
            <p>—Damián… Damián… ¡pibe!</p>
            <p>Un Manuel molesto lo abstrajo de sus pensamientos y le llamo la atención.</p>
            <p>—Encima que llegas tarde te quedas ahí, boludeando, perdiendo el tiempo. Anda con Ender y Mr. Orange al pueblo. Hablen con la gente, fíjense que pueden averiguar.</p>
            <p>El resto de los agentes, guiados por su compañero y Paz, se encaminaron hacia el escenario de la batalla. Por su parte, Ender empezó a caminar hacia el pueblo, y Mr. Orange, quien era un poco más amable y sentía algo de lastima por lo áspero que podía ser Manuel con el novato, lo abrazo por el hombro para llevarlo en la misma dirección.</p>
            <p>—Se que puede ser alguien complicado a veces, tampoco quiero justificar sus actitudes, pero creéme que es un buen tipo… solo necesita algo de tiempo— Mr. Orange soltó una leve carcajada y bromeó— Irónico que digamos eso nosotros igual, ¿no?</p>
            <p>Una vez en el pueblo, dividieron áreas y cada uno comenzó una búsqueda de información.</p>
            <p>Damián había quedado separado del resto, dio algunas vueltas, investigando el área. En un momento da con un depósito que tenía una leve abertura en la puerta. Intentado forzar la entrada, golpea su DTM, dañándola sin darse cuenta.</p>
            <p>Observa dentro del lugar, pero rápidamente se da cuenta que no hay nada ahí que sea de ayuda, por lo que regresa a la calle.</p>
            <p>Luego del golpe a su dispositivo, la funcionalidad para modificar su ropa a vista de los locales se desconfiguro, y ahora todos veían su traje de agente, ropa moderna e inexistente en la época. Ignorando esto, Damián meditaba mientras caminaba por el poblado.</p>
            <p>Claramente quería ir a la zona del combate, hablar con los granaderos, rastrillar el área.
                Aun así, el sabía que Manuel, con su experiencia, tenía razón. Lo mejor sería no interferir en lo que había quedado del combate, podría ser peligroso para él y para el escuadrón argentino, después de todo, no dejaba de ser un novato.</p>
            <p>En su lugar, había sido asignado al reconocimiento y rastrillaje en el pueblo y podía disfrutar un escenario desconocido, experimentar por un momento la vida de hace dos siglos.
                Pero desconcertado, notaba como a medida que caminaba, levantaba miradas y la gente murmuraba acerca de su vestimenta.
                </p>
            <p> —¿Como estás muchacho? Yo no te veo muy bien— Damián se dio media vuelta, viendo un señor que pasaba sus 50, parado en la puerta de su casa.</p>
            <p> —Si, solo estoy… estoy bien, si— le respondió, confundido, reparando en que su DTM se había descompuesto</p>
            <p>—Si, bien raro. Vení pasa así te ayudamos— se ofreció el caballero.</p>
            <p></p>
            <p>Decidió no hacer caso a las enseñanzas de su madre y seguir a ese desconocido a su casa. En 1813 debía ser más seguro, ¿no?
                Entraron a la casa colonial a través de un patio interno y se sentaron en el comedor.
               </p>
            <p>  —Decime, ¿qué querés para comer? Tranquilo que las criadas hacen de todo— te pregunto el hombre, quien se identificó como Lautaro.
                Sin querer ser una molestia, responde algo tímido.
               </p>
            <p>—No, nada, con cualquier cosa estoy bien, enserio, un pan con dulce de leche incluso.</p>
            <p>— ¿Dulce de leche? ¿Qué es eso? — cuestiono el local, intrigado.</p>
            <p>—Si, dulce de leche. ¿En serio no saben qué es?</p>
            <p>El hombre negó con la cabeza, todavía confundido</p>
            <p>—Bueno, vengo a cambiarles la vida. ¿Dónde está la cocina?</p>
            <p>Le alcanzaron lo que necesitaba: leche, azúcar, una olla y un poco de fuego. Lamentablemente, para la época, el bicarbonato no era de uso cotidiano.</p>
            <p>Mientras revolvía, se acercó la criada con un papel, pidiendo que le enseñe como prepararlo.</p>
            <p>El joven agente estaba algo inseguro por las consecuencias que podría traer tu decisión y se debatía que hacer.</p>
            <p>Un rato más tarde, Lautaro y las criadas lo acompañaron a la entrada, mientras conversaban y reían, no dejaron de agradecerle a Damián en ningún momento por la receta compartida.</p>
            <p>Pero en cuanto el agente levantó la vista, un Mr. Orange furioso lo esperaba. Damián se despidió de los locales y se acercó al detective.</p>
            <p>—¿Estás loco pibe? ¿Qué hacías con la gente, vestido así? — gritaba en voz baja, con una de las venas de su cuello a punto de explotar de la ira.</p>
            <p>—Si, ya sé que es peligroso, pero mi DTM me dejo de andar. Sentía que dar vueltas en la calle así iba a ser peor.</p>
            <p>—¡No! No tenes excusa— Mr. Orange se acercó al joven agente, enojado, señalando su DTM con ira— ¿Ves esto? ¿Ves la línea temporal? Estamos acá para arreglarla, y vos estas…</p>
            <p>Se quedo callado, observando fijamente la pantalla del dispositivo en su muñeca.
                Damián lo miró unos instantes hasta que finalmente rompió el silencio.</p>
            <p>—¿Mr. Orange? ¿Qué pasó?</p>
            <p>El detective levanto la mirada, completamente descolocado y le preguntó.</p>
            <p>—¿Qué fue lo que hiciste?</p>
            <p>—Yo… n—no sé nada más fui, o sea me invitaron y pase— el desconcierto en la cara de su compañero hizo que Damián comenzara a tartamudear sin poder explicarse de forma correcta.</p>
            <p>Dándose vuelta, Mr. Orange comenzó a caminar en dirección al campo de batalla y únicamente dijo.</p>
            <p>—Seguíme pibe. Vamos a buscar a Manuel.</p>
            <p>—Así que, soldado Cabral, ¿podría describirme una vez mas que fue lo que sucedió?
            Manuel estaba tomando la declaración del que era la pieza clave para saber porque San Martin no había podido ser salvado.</p>
            <p>El granadero, afectado por la muerte del General, repasa todo lo sucedido.</p>
            <p>—Como le dije, en un momento del combate soy distraído por un joven extraño. Su uniforme no era como ninguno que haya visto antes. Sin dudarlo, me acerque y termine con él, pero en ese momento, al voltear, veo que el General San Martin había caído de su caballo y un soldado español lo fusiló— el soldado negó con la cabeza y agregó— Debí ser yo… yo debía estar ahí para ayudarlo.</p>
            <p>Manuel, escuchando todo y sabiendo la verdadera línea de sucesos, anima a Cabral.
            —Granadero Juan Bautista Cabral. La patria y la historia tienen algo preparado para usted que jamás podría imaginar. Tan solo espere que llegara su momento.</p>
            <p>Dicho esto, se retiró para evaluar el avance de los demás miembros de la YTP y ver si había algo que los pudiera ayudar a saber la causa concreta del desfase y poder evitarlo.</p>
            <p>Esquivando agentes, granaderos y cuerpos del piso, Mr. Orange y Damián llegaron hasta donde se encontraba el detective, que terminaba de intercambiar algunas ideas con Paz.</p>
            <p>—¿Y ahora que cagada se mandó el pibe, Orange? — dijo Manuel divertido, pero su sonrisa se desvaneció al ver la cara de consternación de tu compañero.</p>
            <p>—Mira tu DTM, Manuel— indico Mr. Orange, a lo que Manuel obedeció y un poco desconcertado, solamente lo miró.</p>
            <p>—Pero ¿cómo?</p>
            <p>—Ah, viste. Justamente eso quería que me respondas vos. No tiene sentido alguno.</p>
            <p>Damián escuchaba la conversación de los agentes, que parecían ignorar su presencia, siendo el a quien se referían.</p>
            <p>Antes de poder preguntar algo, Manuel se acercó a él y con total seriedad le indicó que le cuente a detalle todo lo sucedido.</p>
            <p>Una vez que Damián explico en orden todos los eventos, Manuel se mostraba muy molesto.</p>
            <p>—¿Qué es lo primero que se enseña en la academia? ¿Qué es lo que se remarca una y mil veces que NO se tiene que hacer?
                Caminaba de un lado a otro, preguntado y respondiéndose a si mismo.
            </p>
            <p>—No se puede interactuar con nadie que no sea relevante para la investigación. No se puede congeniar con los locales, no se puede intervenir en absolutamente ningún evento que no sea aquel por el cual estamos trabajando— hizo una pausa y miro a Mr. Orange, que estaba de pie junto a Damián— ¿Qué fue lo que hizo entonces? ¿Qué dicen las métricas que tenemos que arreglar?</p>
            <p>—Eso es lo peor de todo, mira tú DTM.</p>
            <p>Manuel obedeció, y al igual que Mr. Orange más temprano, quedo atónito, observando el dispositivo en su muñeca y navegando entre todas las métricas, intentando encontrar una explicación.</p>
            <p>Ambos agentes empezaron a hablar entre sí, discutiendo sobre lo que estaba sucediendo, intentando encontrar alguna posible explicación.</p>
            <p>—¡Pibe! — dijo Manuel al cabo de un rato, dirigiéndose a Damián, que ahora miraba el último informe de la investigación intentando averiguar algo más—. ¿Entendes lo que está pasando?</p>
            <p>—No, Manuel. Como te conté, mi DTM se rompió y ni vos ni Mr. Orange me explicaron absolutamente nada.</p>
            <p>—Mira esto —indico el agente, acercado su DTM a Damián, que mostraba la línea del tiempo con dos desviaciones— Si ves bien, acá tenemos dos líneas alternas. Esta primera es la que tratamos de resolver ahora, pero se sigue desviando y agrandando, cambiando constantemente debido al Efecto Mariposa.</p>
            <p>Mientras Damián observaba y escuchaba, Manuel prosiguió.</p>
            <p>—Y esta de acá —dijo señalando a un punto más adelante en la línea original— es una línea que surgió no sabemos cuándo, pero que, al vos intervenir, ahora se reparó y poco a poco vuelve a la normalidad.</p>
            <p>—¿Pero por qué es eso? ¿Cómo puede ser que se supone que yo sea el detonador de un punto clave?</p>
            <p>Manuel, serio y con el ceño fruncido respondió.
            —No tengo idea pibe. Es la primera vez que lo veo y no me gusta nada.</p>
            <p>Manuel y Mr. Orange se pusieron a discutir posibilidades, poco después, Paz se les unió. Damián llevaba pocas semanas como agente, así que nada de lo que el supiera podría ayudar.
            Decidió investigar los alrededores, tratando de encontrar algo que los demás hayan pasado por alto.</p>
            <p>No se había alejado mucho cuando tuvo la peculiar sensación de que alguien lo observaba. No era la misma que percibía cuando estaba la figura cerca, pero no pudo evitar voltear a mirar.</p>
            <p>A lo lejos, el sargento Cabral lo observaba detenidamente, como si tratara de reconocerlo. Entonces, en el momento que sus miradas se cruzaron, los ojos del granadero se abrieron, tomo su sable y apuntándolo hacia él, empezó a caminar en su dirección.</p>
            <p>Damián no entendía nada de lo que sucedía, pero antes de poder siquiera reaccionar, un par de agentes de la YTP detienen a Cabral e intentan tranquilizarlo.
            Mas aliviado, sonrió levemente y sintió que esto ya había pasado en algún momento.</p>
            <p>—Oh. Déjà vu— expresó.</p>
            <p>Al instante, Paz, Manuel y Mr. Orange se voltearon hacia él. Lejos en el tiempo, en las oficinas de la YTP, las alarmas comenzaron a sonar en el cuarto de control</p>
            <p>—¿Qué dijiste?— le pregunto Paz, denotando preocupación con sus palabras.
            —Nada, solo tuve un Déjà Vu</p>
            <p>Con esas palabras, todo el grupo comenzó a moverse. Orange salió disparado a hablar con los agentes mientras Manuel se alejaba, llamando a la YTP.</p>
            <p>—¿Qué pasa?</p>
            <p>—Un Déjà Vu no es solo una sensación. Cuando sucede, indica que hay o hubo dos versiones de una persona interactuando a la vez en la línea del tiempo. A eso lo llamamos ecos temporales, una anomalía bastante peligrosa.</p>
            <p>—¿O sea que…
            Damián quiso hacerle una pregunta a Paz, pero se vieron interrumpidos cuando el sable de un soldado español que estaba etiquetado como evidencia a unos metros de ellos desapareció súbitamente.</p>
            <p>—PAZ, TRAELO YA AL PIBE— gritó Manuel a la distancia.</p>
            <p>Paz lo tomo del brazo y comenzó a caminar hacia donde se encontraba su compañero, alrededor de ellos, diferentes restos del combate empezaban a desaparecer.</p>
            <p>—Llame a control y me indicaron que teníamos que llevarlo a la base cuanto antes, sacarlo de la línea antes que se produzca un desfase y perdamos la evidencia— Manuel les indicaba esto mientras caminaban hacia el callejón por el que llegaron, después, volteo a ver al mas joven de los agentes—. Vas a tener que explicar bastantes cosas, pibe.</p>
            <p>Damián los seguía sin decir nada. Hasta el momento, el estaba planificando como volver en el tiempo para salvar a Gabriel, pero nunca lo había intentado, ¿Cómo podía ser que haya dos versiones de el en ese momento?</p>
            <p>Su cabeza no dejaba de dar vueltas cuando las DTM en las muñecas de sus compañeros empezaron a sonar con fuerza. Un código violeta, desconocido completamente para el agente novato.</p>
            <p>—¡Control!, ¡Control!, ¡¡Abran el punto de extracción ya!!— Manuel había empezado a correr y gritaba por el comunicador, pero la señal estaba muerta.</p>
            <p>En el edificio de la YTP y en las pulseras de los agentes podía observarse la causa de tal alboroto. Una línea temporal, de origen desconocido, se dirigía directo a impactar contra el punto temporal donde se encontraban todos. </p>
            <p>Entonces sucedió.</p>
            <p>El tiempo se paralizo completamente, todas las personas presentes en la pequeña localidad de San Lorenzo flotaron en el aire mientras ambas líneas chocaban. Aunque todos estaban conscientes, nada se movía, siquiera el tiempo mismo avanzaba.</p>
            <p>Después de unos instantes, la línea invasora siguió su curso, todos volvieron a la posición en la que estaban y el tiempo volvió a la normalidad.</p>
            <p>Pero los tres agentes ahora se aquejaban en silencio. Un fuerte dolor de cabeza los invadía mientras intentaban recordar que había pasado y por qué estaban ahí.</p>
            <p>Manuel constato los datos en su DTM y vio que la línea mantenía su curso natural, sin alertas, desviaciones o alteración alguna. Entonces, el comunicador crepito y se escuchó la voz de la directora de la YTP al otro lado de la llamada, notablemente molesta.</p>
            <p>—¡Manuel!, ¡Manuel! ¿Me querés explicar que hacen en febrero de mil ocho trece? Tenes que estar en Sudáfrica, Manuel, en mil novecientos trece, Manuel.</p>
            <p>Damián reviso su DTM, intacta, y avanzando un poco en la línea del tiempo, vio una desviación a finales de mil novecientos trece. Reviso el informe de la misión y este decía.</p>
            <i>Fecha: 9/11/1913.
                <br>
            Locación: Charlestown, Sudáfrica.
            <br>
            Alteración temporal: durante una de las marchas pertenecientes a la “Gran Marcha de los Mineros”, Mahatma Gandhi ha sido asesinado. Se desconoce la identidad del asesino y los detalles precisos del ataque. 
            <br>
            Objetivo: descubrir la identidad del homicida, el plan completo y evitarlo.</i>
            <p>Luego de leer esto, miro incrédulo a sus compañeros. Manuel, todavía por el comunicador, se disculpa con la directora de la YTP y solicita que abran el portal adecuado una vez reúna a todos sus hombres.</p>
            <p>Agentes, peritos y detectives de la YTP se reunieron en el punto de extracción, se abrió el portal correcto y comenzaron a atravesarlo de a grupos. Damián se quedó hasta lo último, siendo el único que faltaba por cruzarlo.</p>
            <p>Antes de cruzar, se dio vuelta para volver a echar una mirada al pintoresco pueblo argentino. Desde que lo había atacado ese dolor de cabeza que no podía quitarse esa sensación. La misma que surge de forma imprevista durante conversaciones.</p>
            <p>Miro a través del callejón. A su izquierda, a cierta distancia, se observaban los restos de un combate, a su derecha se encontraba el pueblo.</p>
            <p>Una vez más esa sensación de intensifico. Lo sentía en su cuerpo, su mente constantemente se repetía la misma pregunta.</p>
            <p>Estuviste aquí antes,</p> <i>¿verdad?</i>
            <p>Sacudió su cabeza para alejar esos pensamientos y cruzo el portal, que se cerró atrás de él.</p>            
        </div>
        
        <div>
            
        </div>
    </section>

</section>