
<section class="background-ss">

    <section></section>

    
    <section class="container-section-ss"> 
        
        <section class="progress-container">

            <h3 class="universe-title">Universo Yapeyú</h3>
            <p class="ss-title">Ecos Temporales</p>

            <div class="progress-bar" [style.width.%]="scrollProgress"></div>
        
        </section>
        
        <div class="story-content">
            <!-- Tu contenido de la historia aquí -->
              <i>bi bi bi bip… bi bi bi bip...bi bi b… </i>
            
            <p>
            Damián estiro su brazo y tomo la DTM que descansaba en la mesa de luz junto a su cama. La luz roja titilaba, iluminando la todavía oscura habitación a altas horas de la madrugada.
            Cerro sus ojos un momento, excusándose de que, luego de descansarlos un instante, se levantaría con más energía.
            </p>   
            
               <i>BI BI BI BIP…B</i>
            <p>
            La alerta pareció sonar mas fuerte, impidiendo que el sueño lo venza por completo.
                Se sentó en la cama, asimilando por un momento en que día se encontraba. Rápidamente, dio un salto fuera del colchón y se alistó para ir a la agencia.
            </p>
            <p>Llegó al edificio de la YTP, subió por el ascensor hasta las oficinas y caminó por el pasillo, derecho a la Sala de Salto Temporal, donde Manuel y Paz ya habían reunido un grupo de agentes y explicaban la situación.</p>
            <p>-Marsachi, a todos nos gustaría seguir durmiendo, pero lamentablemente la línea del tiempo no respeta nuestros ciclos del sueño- dijo Manuel, interrumpiendo su discurso para señalar su tardanza frente a todos.</p>
            
            

        </div>
        
        <div>
            
        </div>
    </section>

</section>