.dev-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin: 3rem;
    padding-inline: 13%;
}

.dev-card{
    flex-basis: 180px;
    height: 300px;
    transition: 0.3s;
    background-color: gray;
}

.dev-card:hover{
    flex-basis: 360px;
}

.dev-card:hover .description{
    display: block;
    background-color: gray;
}