.dev-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 3rem;
    padding-inline: 17%;
}

.dev-card{
    flex-basis: 180px;
    height: 300px;
    transition: 0.3s;
    background-color: rgba(82, 82, 88, 0.5);
    justify-items: left;
}

.dev-card:hover{
    flex-basis: 360px;
}

.dev-card:hover .description{
    display: block;
}

