<div class=" bg-white border border-gray-200 rounded-lg flex flex-row">
    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
        [src]="character.images[0]" alt="character img">
    <div class="flex flex-col p-4 mt-3 leading-normal ">
        <h4 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 "> {{character.name}} </h4>
        <h6 class="mb-3 font-normal text-gray-700 ml-0.5 "> {{character.description}} </h6>
    </div>
</div>