html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .test-wrapper{
    height: 100dvh;
    overflow: hidden;
  }
  .quiz-container {
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px white;
    padding: 3rem;
    text-shadow: 0 1px #00000010;
    width: 60%;
    margin: 10rem auto;
    display: flex;
    flex-direction: column;
    background: white;

  }

  .title {
    margin-top: 0;
    margin-bottom: 3rem;
    color: #00000050;
    font-weight: 400;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
  }

  .question
  {
    margin: 2rem 0;
    font-size: 1.5rem;
  }

  .controls > * {
    margin: 1rem;
  }

  button {
    padding: 0.5rem 1.5rem;
    border: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-weight: 300;
    color: white;
    outline: none;
    transform: scale(0.98);
    transition: all 0.2s;
  }
  button.previous {
    background: #c84630;
  }
  button.next {
    background: #3c91e6;
  }


  button:hover,
  button:focus
  {
    transform: scale(1);
    font-weight: 500;
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  }

  .result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
  }
  h2
  {
    color:white
  }
  button.restart {
    background: #0cf574;
    color: white;
    font-size: 2rem;
    transition: all 0.4s;
  }

  .final-score {
    color: white;
  }

  .img-result
  {
    display: flex;

    max-width: 15%;

  }
